{% extends 'index.html' %}


{% block b %}   
{% endblock b %}

{% block a %}
<div style="margin: 150px 50px 0px 50px">
    <head>
        <h1 style="font-size: 50px">¿Quién soy?</h1>
    </head>
    <body>
        <h3>
            Me presento, soy Juan Luis Martinó, un chico de 17 años que actualmente vive en Mar del Plata. Este año termino la secundaria y 
            el siguiente año tengo planeado ir a estudiar Ingeniería en informática. Todavía no tengo bien decidido donde. Me gusta mucho la 
            tecnología, las computadoras, sus componentes y también cómo funciona todo este mundo.
        </h3>
    
        <h3>
            Por eso mismo decidí empezar el curso de Python, para ir aprendiendo cada vez más sobre temas que me gustan. Me gustaria hacer 
            otros cursos, pero no se si me da el capital y el tiempo para poder realizarlos. 
        </h3>
    
        <h3 style="margin-top: 40px">
            Este proyecto me gustó mucho. Me pareció una idea muy original aunque hubo algunos aspectos que no me 
            agradaron. Me encanto ya que  puso a prueba mis capacidades y las llevó al límite. Sobre los aspectos que me desagradan, estos 
            son principalmente los errores que cometí. Muchos los tuve que buscar en internet o consultarlo con un conocido. Realmente casi 
            todos los errores fueron culpa mía, pero me molestó no saber qué hacer.
        </h3>
    </body>

</div>
{% endblock a %}