{% extends 'index.html' %}

{% block a %}

<form action="{% url 'formulario_comidas' %}" method = "post">
    {% csrf_token %}

    <table>
        {{formulario.as_table}}
    </table>
    <input type="submit" placeholder="Crear">
</form>


<form action="{% url "formulario_comidas" %}" method="get">
    {% csrf_token %}   

    <table>
        {{buscador.as_table}}
    </table>

    <input type="submit" placeholder="Buscar" >
</form>



{% for Comida in Comidas_buscadas %}
    <li>
        {{Comida}}
    </li>
{% endfor %}

{% endblock a %}
