{% extends 'index.html' %}

{% block a %}

<a style="text-align: left" href= {% url "formulario_mesas" %}>Crear una mesa</a>

<ul style="text-align: left">
{% for mesa in listado_mesas %}

<li>
    Número: {{mesa.numero}}        
    {% if mesa.grande %}
           Tamaño: Grande
    {% endif %}
    {% if mesa.chica %}
           Tamaño: Chica
    {% endif %}
    {% if mesa.reservada %}
           Esta reservada
    {% endif %}
    <a href={% url "borrar_mesa" mesa.id %}>Borrar</a>
</li>

{% endfor %}
</ul>
{% endblock a %}