{% extends 'index.html' %}

{% block a %}

<a style="text-align: left" href= {% url "listado_bebidas" %}>Crear una bebida</a>

<h1 style="text-align: left">Bebidas</h1>
<h4 style="text-align: left; margin-left: 10px">¡Encuentre las Bebidas que les guste aquí!</h4>

<ul style="text-align: left">

{% for bebida in listado_bebidas %}

<li>
    {{bebida.nombre}}
    {% if bebida.grande %}
         Tamaño: Grande
    {% endif %}
    {% if bebida.chico %}
        Tamaño: Chica
    {% endif %}
    <a href={% url "borrar_bebida" bebida.id %}>Borrar</a>
</li>

{% endfor %}    
</ul>
{% endblock a %}